@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  /* #282c34 */
  background-color: rgb(0,0,0);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.headBar{
  padding-bottom:8px;
  background-color: rgba(245, 53, 170);
  height: 2.5rem;
  border-radius: 20px;
  width: 100%;
  display:flex;
  justify-content:space-between;
  z-index:2;
  box-shadow: 0px 7.5px 10px 0px rgba(245, 53, 170);
}

.menuButton{
  padding:0px;
  padding-left:8px;
  height: 100%;
  background: transparent;
  border:none;
  display:flex;
  flex-direction:column;
}

#sideBar{
  /* display :none; */
  border-radius: 10px;
  height: 100%; 
  width: 0px; 
  position: fixed; 
  z-index: 5;
  top: 2.7rem;
  left: 0;
  background-color: white; 
  overflow-x: hidden; 
  padding-top: 30px; 
  transition: 0.5s; 
  

}

.sideitem{
  padding: 1rem;
  font-size: 15px;
  z-index:2;
}

#search{
  
  border-radius: 20px;
  height: 2.5rem;
  padding:2px;
  padding-left:10px;
  font-size:17px;
  justify-content: center;

}
#search:focus{
  outline:none;
}
.mainDiv{
  
  height: auto;
  width: auto;
  align-items: center;
  justify-items: center;
  
}
.searchSpan{
  display: block;
  width: 100%;
  text-align: center;
}
.mainText{
  text-align: center;
  margin: 0.1rem;
}
.searchButton{
  border-radius: 100px;
  background: transparent;
  border:none;
  height: 2rem;
  width: 2rem;
  /* margin-top: 0.5rem; */
  
}
.searchButton:hover{
  opacity: 0.6;
}

.clear{
  border-radius: 100px;
  background: transparent;
  border:none;
  height: 2rem;
  width: 2rem;
  
  
}
.clear:hover{
  opacity: 0.6;
}

.playerDiv{
  display: none;
}

#audio-player{
  width: 50%;
  height: 30px;
  background-color: white;
  border-radius: 10px;
  border-width: 1px;
  justify-self: center;
}

.acc-box{
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
  
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  border-radius: 10%;
  text-align: center;
  color: white;
  box-shadow: 0px 7.5px 10px 0px rgba(0,255,255,0.7);
  transition: all ease 0.2s;
  z-index:0
}

.acc-box:hover{
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0,255,255,0.7);
}
.acc-lines{
  align-items:center;
  display: flex;
  color:white;
  justify-content: center;
  width:100%;
  justify-content:flex-start;
  margin:20px 10px 10px 10px;

}
.acc-input{
  border-radius:10px;
  padding:3px;
  width:50%;
  height:2rem;
  font-size:15px;
  padding:3px;
  color:black
}
.acc-input:focus{
  outline :none;
}
.acc-button{
  background-color: transparent;
  height: 60px;
  width:7rem;
  color: white;
  font-size: 20px;
  margin-top: 3rem;
  border-radius: 50px;
  border: 1px solid rgba(0,255,255,0.7);
  padding: 1rem;
  /* border: solid 1px; */
  background: linear-gradient(55deg,rgba(0,255,255,0.7) 0%, rgba(171, 228, 228, 0.7) 55%, transparent 50%, transparent 100%);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.3s;
}
.acc-button:hover{
  background-position: 0 0 ;
}
.acc-button:active{
  transform:scale(0.95)
}

.main-box{
  background-color:rgba(255,255,255,0.1);
backdrop-filter:blur(5px);
  width:60%;
  min-width: 500px;
  border-radius:20px;
  border:solid 1px white;
  padding:0;
}
.username-area{
  background-color:rgba(255,255,255,0.5);
  backdrop-filter:blur(10);
  max-width:100%;
  border-radius:20px;
  border:solid 1px white;
  padding-left:3rem;
  display:flex;
}
.details{
  display:flex;
  min-width:100%;
  
  padding-right:3rem;
  justify-content:space-around ;
}
.div1 .div2{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}
.divide{
  height:auto;
  background-color:white;
  width:3px;

}
.prof-title{
  transition: all ease 1s ;
}
.prof-title:hover{
  text-shadow:5px 10px 4px #FFFFFF;
  transform:translateY(-3px);
  
}

.formbox{
  display:"flex";
  width:"100%";
  flex-direction:row;
}

.icon-hov{
  box-shadow:0px 3px 4px #FFFFFF;
}
