body {
  margin: 0;
  /* #282c34 */
  background-color: rgb(0,0,0);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.headBar{
  
  background-color: rgba(245, 53, 170);
  height: 2.5rem;
  border-radius: 20px;
  width: 100%;
  box-shadow: 0px 7.5px 10px 0px rgba(245, 53, 170);
}


.menu{
  border-radius: 50px;
  height: 85%;
  background: transparent;
  margin:0.3rem;
}
.menuButton{
  border-radius: 50px;
  height: 85%;
  background: transparent;
  margin:0.3rem;
  border:none;
}

.menu:hover{
  opacity:0.85;
  background-color:rgb(205, 199, 199) ;
}

#sideBar{
  /* display :none; */
  border-radius: 10px;
  height: calc(100vh - 5rem); 
  width: 0; 
  position: relative; 
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white; 
  overflow-x: hidden; 
  padding-top: 30px; 
  transition: 0.5s; 
  

}

.sideitem{
  padding: 1rem;
  font-size: 15px;
}

#search{
  
  border-radius: 20px;
  width:70%;
  height: 2rem;
  justify-content: center;
}
.mainDiv{
  
  height: auto;
  width: auto;
  align-items: center;
  justify-items: center;
  
}
.searchSpan{
  display: block;
  width: 100%;
  text-align: center;
}
.mainText{
  text-align: center;
  margin: 0.1rem;
}
.searchButton{
  border-radius: 100px;
  background: transparent;
  border:none;
  height: 2rem;
  width: 2rem;
  margin-left: 1rem;
  /* margin-top: 0.5rem; */
  
}
.searchButton:hover{
  opacity: 0.6;
}

.clear{
  border-radius: 100px;
  background: transparent;
  border:none;
  height: 2rem;
  width: 2rem;
  margin-left: 1.5rem;
  
}
.clear:hover{
  opacity: 0.6;
}

.playerDiv{
  display: none;
}

#audio-player{
  width: 50%;
  height: 30px;
  background-color: white;
  border-radius: 10px;
  border-width: 1px;
  justify-self: center;
}

.acc-box{
  /* backdrop-filter : blur(2.5px);
  background:transparent; */
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
  
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  border-radius: 10%;
  min-width: 30vw;
  min-height: 50vh;
  padding: 5px;
  /* padding-bottom:10px; */
  text-align: center;
  color: white;
  box-shadow: 0px 7.5px 10px 0px rgba(0,255,255,0.7);
  transition: all ease 0.2s;
}
.acc-box:hover{
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0,255,255,0.7);
}
.acc-lines{
  align-items:center;
  display: flex;
  color:white;
  justify-content: center;
  width:100%;
  justify-content:flex-start;
  margin:20px 10px 10px 10px;

}
.acc-input{
  height:1.25rem;
  border-radius:10px;
  padding:3px;
  width:66%
}
.acc-input:focus{
  outline :none;
}
.acc-button{
  background-color: transparent;
  height: 60px;
  width:7rem;
  color: white;
  font-size: 20px;
  margin-top: 3rem;
  border-radius: 50px;
  border: 1px solid rgba(0,255,255,0.7);
  padding: 20px;
  /* border: solid 1px; */
  background: linear-gradient(55deg,rgba(0,255,255,0.7) 0%, rgba(171, 228, 228, 0.7) 55%, transparent 50%, transparent 100%);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.3s;
}
.acc-button:hover{
  background-position: 0 0 ;
}
.acc-button:active{
  transform:scale(0.95)
}

